<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mariadb://localhost:3306/projetPermis</property>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <mapping class="com.epul.permispiste.domain.ActionEntity"/>
        <mapping class="com.epul.permispiste.domain.ActionMissionEntity"/>
        <mapping class="com.epul.permispiste.domain.IndicatorEntity"/>
        <mapping class="com.epul.permispiste.domain.InscriptionEntity"/>
        <mapping class="com.epul.permispiste.domain.InscriptionActionEntity"/>
        <mapping class="com.epul.permispiste.domain.LearnerEntity"/>
        <mapping class="com.epul.permispiste.domain.MissionEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>